# QCTO - Workplace Module

### Project Title: Avocado Prices and Sales Volume Analysis
#### Done By: Muhammad Ahmed Seedat

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Introduce the project, outline its goals, and explain its significance.
* **Details:** Include information about the problem domain, the specific questions or challenges the project aims to address, and any relevant background information that sets the stage for the work.
---

Agriculture is the backbone of India's economy, contributing significantly to the country's GDP and providing livelihoods for a large portion of the population. Among the various crops cultivated, rice holds a paramount position, being a staple food for millions and a crucial component of India's agricultural exports. This project aims to conduct a comprehensive data analysis of the Indian agricultural sector, with a specific focus on rice production across different states.

The primary objective of this project is to analyze the patterns, trends, and factors influencing rice production in India. By leveraging data from the District Level Data (DLD) and Dashboard for Agriculture and Allied-sectors in India, we aim to uncover insights that can help improve productivity, address regional disparities, and inform policy decisions. The analysis will cover key aspects such as yield rates, crop production between 1966 and 2017.

For our analysis of rice production across India, we will employ  statistical techniques in section 5 Explority Data Analysis (EDA).

The notebook is structured to guide readers through a comprehensive data analysis project. It begins with a Project Overview, which includes an Introduction outlining the context and a Problem Statement to define the issue at hand, followed by the Objectives of the analysis. Next, the Importing Packages section lists the necessary libraries. Loading Data details the process of importing datasets. Data Cleaning addresses how the data is prepared for analysis. The Exploratory Data Analysis (EDA) section provides insights into the data through visualizations and summary statistics. Feature Engineering involves creating new features to improve model performance. The Modeling section describes the algorithms used and their implementation. Model Performance evaluates the effectiveness of the models. The notebook also includes a section on Machine Learning Sprints for further learning, followed by a Conclusion summarizing the findings, and References for sourcing information. 

Through this project, we hope to provide a detailed understanding of the current state of rice production in India, identify challenges and opportunities, and propose actionable recommendations to enhance the efficiency and sustainability of rice farming. Ultimately, our goal is to support the development of a more resilient and prosperous agricultural sector in India.

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [2]:
#Please use code cells to code in and do not forget to comment your code.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
# Displays output inline
%matplotlib inline

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Describe how the data was collected and provide an overview of its characteristics.
* **Details:** Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
---

The dataset titled "Avocado Prices and Sales Volume 2015-2023" was collected from Kaggle, a well-known platform for data science and machine learning datasets¹. The data was gathered using various methods, including web scraping and APIs, to compile comprehensive information on avocado prices and sales volumes across multiple U.S. markets. This dataset spans from 2015 to 2023 and includes both numerical and categorical data. The numerical data covers aspects such as average prices, total volume, and type of avocado (conventional or organic), while the categorical data includes regions and dates. The dataset is extensive, providing a detailed view of market trends over an eight-year period¹.

¹: [Kaggle - Avocado Prices and Sales Volume 2015-2023](https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023)

Source: Conversation with Copilot, 2024/09/15
(1) Avocado Prices and Sales Volume 2015-2023 - Kaggle. https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023.
(2) Kaggle: Your Home for Data Science. https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023/download?datasetVersionNumber=3.
(3) The Price and Sales of Avocado - Kaggle. https://www.kaggle.com/datasets/alanluo418/avocado-prices-20152019.
(4) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2059285.
(5) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2056226.
(6) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2056331%29.
(7) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2054570%29.
(8) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2054773%29.

In [3]:
#Please use code cells to code in and do not forget to comment your code.

df = pd.read_csv("Avocado_HassAvocadoBoard_20152023v1.0.1.csv", index_col=False)

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [7]:
#Please use code cells to code in and do not forget to comment your code.
pd.set_option("display.max_columns",None)
df.head()

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

In [11]:
#Please use code cells to code in and do not forget to comment your code.
df_copy = df.copy()
df_copy.shape
df_copy.info()
# Data Cleaning
def check_null_values(df_copy):
    """
    Print the count of null values for each column in a DataFrame.

    This function iterates through each column in the DataFrame to check for the presence of null values.
    If a column contains null values, it prints the column name along with the number of null values.

    Parameters:
    df (DataFrame): The pandas DataFrame to check for null values.

    Returns:
    None: This function does not return a value; it only prints information.
    """
    for column in df_copy:
        if df_copy[column].isnull().any():
            print('{0} has {1} null values'.format(column, df_copy[column].isnull().sum()))

# dup null
check_null_values(df_copy)
#check dup
def count_duplicate_rows(df_copy):
    """
    Count the number of duplicate rows in a DataFrame.

    This function calculates the total number of duplicate rows in the DataFrame by calling the `duplicated` method,
    which marks duplicates as `True`, and then sums these cases.

    Parameters:
    df_copy (pandas.DataFrame): The DataFrame to check for duplicates.

    Returns:
    int: The count of duplicate rows.
    """
    duplicate_count = df_copy.duplicated().sum()
    return duplicate_count
# run dup check func
count_duplicate_rows(df_copy)

## preprocess function
def preprocess_data(df_copy):
    """
    Perform basic data cleaning on the DataFrame.

    This includes:
    - Setting missing 'seasons' to 0.
    - Filling missing IMDb scores and votes with the mean and median, respectively.
    - Filling missing TMDB popularity and scores with the median and mean, respectively.
    - Dropping columns with many null values or that are not required.


    Returns:
        DataFrame: The cleaned DataFrame.
    """
    
    # Assign zero seasons to movies where the number of seasons is missing
    df_copy['seasons'] = df_copy['seasons'].fillna(0)
    
    # Fill missing IMDb scores with the mean score
    df_copy['imdb_score'] = df_copy['imdb_score'].fillna(df_copy['imdb_score'].mean())
    
    # Fill missing IMDb votes with the median number of votes
    df_copy['imdb_votes'] = df_copy['imdb_votes'].fillna(df_copy['imdb_votes'].median())
    
    # Fill missing TMDB popularity scores with the median popularity
    df_copy['tmdb_popularity'] = df_copy['tmdb_popularity'].fillna(df_copy['tmdb_popularity'].median())
    
    # Fill missing TMDB scores with the mean score
    df_copy['tmdb_score'] = df_copy['tmdb_score'].fillna(df_copy['tmdb_score'].mean())
    
    # Drop columns that are not required or have many null values
    df_copy = df_copy.drop(['imdb_id', 'description', 'age_certification'], axis=1)
    
    return df_copy
###
preprocess_data(df_copy.head(2))

# examine the datatypes of the columns
df.info()

# look for columns that are categorical
df.select_dtypes(include=['object', 'category'])
print(df["Date"].unique())
df["Date"].nunique()
df["Date"].value_counts()

var = df["type"].nunique()
print(f"Dist Code unique counts {var}")
var = df["region"].nunique()
print(f"Dist Name unique counts {var}")

unique, nunique, value_counts()

# look for columns that are numerical
df.select_dtypes(include=['int64'])
df.select_dtypes(include=['float64'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB
['2015-01-04' '2015-01-11' '2015-01-18' '2015-01-25' '2015-02-01'
 '2015-02-08' '2015-02-15' '2015-02-22' '2015-03-01' '2015-03-08'
 '2015-03-15' '2015-03-22' '2015-03-29' '2015-04-05' '2015-04-12'
 '2015-04-19' '2015-04-26' '2015-05-03' '2015-05-10' '2015-05-17'
 '2015-05-24' '2015-05-31' '2015-06-07' '2015-06-14' '2015-06-21'
 '2015-06-28' '2015-07-05' '2015-07-12' '2015-07-19' '2015-07-26'
 '2015-08-02' '2015-08-09' '2015-08-16' '2015-08-23' '2015-08-30'
 '2015-09-06' '2015-09-13' '2015-09-20' '2015-09-27' '2015-10-04'
 '2015-10-11' '2015-10-18' '2015-10-25' '2015-11-01' '2015-11-08'
 '2015-11-15' '2015-11-22' '2015-11-29' '2015-12-06' '2015-12-13'
 '2015-12-20' '2015-12-27' '2016-01-03' '2016-01-10' '2016-01-17'
 '2016-01-24' '2016-01-31' '2016-02-07' '2016-02-14' '2016-02-21'
 '2016-02-28' '2016-03-06' '2016-03-13' '2016-03-20' '2016-03-27'
 '2016-04-03' '2016-04-10' '2016-04-17' '2016-04-24' '2016-05-01'
 '2016-05-08' '2016-05-15' '2016-05-22' '2016-05-29' '2016-06-05'
 '2016-06-12' '2016-06-19' '2016-06-26' '2016-07-03' '2016-07-10'
 '2016-07-17' '2016-07-24' '2016-07-31' '2016-08-07' '2016-08-14'
 '2016-08-21' '2016-08-28' '2016-09-04' '2016-09-11' '2016-09-18'
 '2016-09-25' '2016-10-02' '2016-10-09' '2016-10-16' '2016-10-23'
 '2016-10-30' '2016-11-06' '2016-11-13' '2016-11-20' '2016-11-27'
 '2016-12-04' '2016-12-11' '2016-12-18' '2016-12-25' '2017-01-01'
 '2017-01-08' '2017-01-15' '2017-01-22' '2017-01-29' '2017-02-05'
 '2017-02-12' '2017-02-19' '2017-02-26' '2017-03-05' '2017-03-12'
 '2017-03-19' '2017-03-26' '2017-04-02' '2017-04-09' '2017-04-16'
 '2017-04-23' '2017-04-30' '2017-05-07' '2017-05-14' '2017-05-21'
 '2017-05-28' '2017-06-04' '2017-06-11' '2017-06-18' '2017-06-25'
 '2017-07-02' '2017-07-09' '2017-07-16' '2017-07-23' '2017-07-30'
 '2017-08-06' '2017-08-13' '2017-08-20' '2017-08-27' '2017-09-03'
 '2017-09-10' '2017-09-17' '2017-09-24' '2017-10-01' '2017-10-08'
 '2017-10-15' '2017-10-22' '2017-10-29' '2017-11-05' '2017-11-12'
 '2017-11-19' '2017-11-26' '2017-12-03' '2017-12-10' '2017-12-17'
 '2017-12-24' '2017-12-31' '2018-01-08' '2018-01-14' '2018-01-21'
 '2018-01-28' '2018-02-04' '2018-02-11' '2018-02-18' '2018-02-25'
 '2018-03-04' '2018-03-11' '2018-03-18' '2018-03-25' '2018-04-01'
 '2018-04-08' '2018-04-15' '2018-04-22' '2018-04-29' '2018-05-06'
 '2018-05-13' '2018-05-20' '2018-05-27' '2018-06-03' '2018-06-10'
 '2018-06-17' '2018-06-24' '2018-07-01' '2018-07-08' '2018-07-15'
 '2018-07-22' '2018-07-29' '2018-08-05' '2018-08-12' '2018-08-19'
 '2018-08-26' '2018-09-02' '2018-09-09' '2018-09-16' '2018-09-23'
 '2018-09-30' '2018-10-07' '2018-10-14' '2018-10-21' '2018-10-28'
 '2018-11-04' '2018-11-11' '2018-11-18' '2018-11-25' '2018-12-02'
 '2018-12-09' '2018-12-16' '2018-12-23' '2018-12-30' '2019-01-07'
 '2019-01-13' '2019-01-20' '2019-01-27' '2019-02-03' '2019-02-10'
 '2019-02-17' '2019-02-24' '2019-03-03' '2019-03-10' '2019-03-17'
 '2019-03-24' '2019-03-31' '2019-04-07' '2019-04-14' '2019-04-21'
 '2019-04-28' '2019-05-05' '2019-05-12' '2019-05-19' '2019-05-26'
 '2019-06-02' '2019-06-09' '2019-06-16' '2019-06-23' '2019-06-30'
 '2019-07-07' '2019-07-14' '2019-07-21' '2019-07-28' '2019-08-04'
 '2019-08-11' '2019-08-18' '2019-08-25' '2019-09-01' '2019-09-08'
 '2019-09-15' '2019-09-22' '2019-09-29' '2019-10-06' '2019-10-13'
 '2019-10-20' '2019-10-27' '2019-11-03' '2019-11-10' '2019-11-17'
 '2019-11-24' '2019-12-01' '2019-12-08' '2019-12-15' '2019-12-22'
 '2019-12-29' '2020-01-06' '2020-01-12' '2020-01-19' '2020-01-26'
 '2020-02-02' '2020-02-09' '2020-02-16' '2020-02-23' '2020-03-01'
 '2020-03-08' '2020-03-15' '2020-03-22' '2020-03-29' '2020-04-05'
 '2020-04-12' '2020-04-19' '2020-04-26' '2020-05-03' '2020-05-10'
 '2020-05-17' '2020-05-24' '2020-05-31' '2020-06-07' '2020-06-14'
 '2020-06-21' '2020-06-28' '2020-07-05' '2020-07-12' '2020-07-19'
 '2020-07-26' '2020-08-02' '2020-08-09' '2020-08-16' '2020-08-23'
 '2020-08-30' '2020-09-06' '2020-09-13' '2020-09-20' '2020-09-27'
 '2020-10-04' '2020-10-11' '2020-10-18' '2020-10-25' '2020-11-01'
 '2020-11-08' '2020-11-15' '2020-11-22' '2020-11-29' '2020-12-06'
 '2020-12-13' '2020-12-20' '2020-12-27' '2021-01-04' '2021-01-10'
 '2021-01-17' '2021-01-24' '2021-01-31' '2021-02-07' '2021-02-14'
 '2021-02-21' '2021-02-28' '2021-03-07' '2021-03-14' '2021-03-21'
 '2021-03-28' '2021-04-04' '2021-04-11' '2021-04-18' '2021-04-25'
 '2021-05-02' '2021-05-09' '2021-05-16' '2021-05-23' '2021-05-30'
 '2021-06-06' '2021-06-13' '2021-06-20' '2021-06-27' '2021-07-04'
 '2021-07-11' '2021-07-18' '2021-07-25' '2021-08-01' '2021-08-08'
 '2021-08-15' '2021-08-22' '2021-08-29' '2021-09-05' '2021-09-12'
 '2021-09-19' '2021-09-26' '2021-10-03' '2021-10-10' '2021-10-17'
 '2021-10-24' '2021-10-31' '2021-11-07' '2021-11-14' '2021-11-21'
 '2021-11-28' '2021-12-05' '2021-12-12' '2021-12-19' '2021-12-26'
 '2022-01-02' '2022-01-10' '2022-01-16' '2022-01-23' '2022-01-30'
 '2022-02-06' '2022-02-13' '2022-02-20' '2022-02-27' '2022-03-06'
 '2022-03-13' '2022-03-20' '2022-03-27' '2022-04-03' '2022-04-10'
 '2022-04-17' '2022-04-24' '2022-05-01' '2022-05-08' '2022-05-15'
 '2022-05-22' '2022-05-29' '2022-06-05' '2022-06-12' '2022-06-19'
 '2022-06-26' '2022-07-03' '2022-07-10' '2022-07-17' '2022-07-24'
 '2022-07-31' '2022-08-07' '2022-08-14' '2022-08-21' '2022-08-28'
 '2022-09-04' '2022-09-11' '2022-09-18' '2022-09-25' '2022-10-02'
 '2022-10-09' '2022-10-16' '2022-10-23' '2022-10-30' '2022-11-06'
 '2022-11-13' '2022-11-20' '2022-11-27' '2022-12-04' '2022-12-11'
 '2022-12-18' '2022-12-25' '2023-01-01' '2023-01-09' '2023-01-15'
 '2023-01-22' '2023-01-29' '2023-02-05' '2023-02-12' '2023-02-19'
 '2023-02-26' '2023-03-05' '2023-03-12' '2023-03-19' '2023-03-26'
 '2023-04-02' '2023-04-09' '2023-04-16' '2023-04-23' '2023-04-30'
 '2023-05-07' '2023-05-14' '2023-05-21' '2023-05-28' '2023-06-04'
 '2023-06-11' '2023-06-18' '2023-06-25' '2023-07-02' '2023-07-09'
 '2023-07-16' '2023-07-23' '2023-07-30' '2023-08-06' '2023-08-13'
 '2023-08-20' '2023-08-27' '2023-09-03' '2023-09-10' '2023-09-17'
 '2023-09-24' '2023-10-01' '2023-10-08' '2023-10-15' '2023-10-22'
 '2023-10-29' '2023-11-05' '2023-11-12' '2023-11-19' '2023-11-26'
 '2023-12-03']
Dist Code unique counts 2
Dist Name unique counts 60

NameError: name 'unique' is not defined

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.


def filter_by_runtime(df_copy, min_runtime, max_runtime):
    """
    Filter a DataFrame based on a specified runtime range and return the first two entries.

    Parameters:
    dataframe (pandas.DataFrame): The DataFrame to sort and filter.
    min_runtime (int): The minimum runtime threshold.
    max_runtime (int): The maximum runtime threshold.

    Returns:
    pandas.DataFrame: The first five entries of the filtered DataFrame.
    """
    # Sort the DataFrame by 'runtime'
    sorted_df = df_copy.sort_values('runtime')

    # Filter the DataFrame for entries with a runtime within the specified range
    filtered_selection = sorted_df[
        (sorted_df['runtime'] > min_runtime) & (sorted_df['runtime'] <= max_runtime)
    ]

    # Return the first five entries of the filtered selection
    return filtered_selection.head(2)

filter_by_runtime(df_copy, 36, 116)


# Get the count of each type in the dataset
type_count = df_copy['type'].value_counts()

# Display the top 5 most common types
type_count.head()


# Setup countplot
sns.countplot(
    data=df_copy,
    x='type',
    order=df_copy['type'].value_counts().index
)

# Set the title of the plot with an adjusted position for better readability
plt.title('Comparing Netflix Media Types', y=1.1)

# Display the plot
plt.show()


def plot_release_by_year(df_copy):
    """
    Generate a countplot displaying the number of movies and shows released each year.

    Parameters:
    df_copy (pandas.DataFrame): DataFrame containing the data with 'release_year' and 'type' columns.

    The function creates a figure, sets up a countplot with 'release_year' on the y-axis and colors by 'type',
    adjusts the y-axis limits, sets a title, and displays the plot.
    """
    # Create a figure with specified size
    plt.figure(figsize=(20, 10))

    # Create a countplot for releases per year differentiated by type
    sns.countplot(data=df_copy, y='release_year', hue='type')

    # Set the limits for the y-axis
    plt.ylim(20, 65)

    # Set the title of the plot
    plt.title('How many movies/shows are released each year?')

    # Display the plot
    plt.show()

plot_release_by_year(df_copy)

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.